@charset "utf-8";
/* CSS Document */
.content {
	width:390px;
	margin: 0 auto;
	background: linear-gradient(135deg, rgba(138,15,93,1) 0%, rgba(150,24,195,1) 25%, rgba(68,163,36,1) 68%, rgba(161,156,6,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a0f5d', endColorstr='#a19c06', GradientType=1 );
color: #fff;
    border-radius: 30px;
	box-shadow: #999 -2px -2px 4px;
	
}
h1 {
	font-size:24px;
	line-height: 30px;
	border-bottom: #fff 1px solid;
	padding: 10px;
	text-align: center;
}
h4 {
	color: #000;
	margin: 2px 0px;
	padding-left: 80px;
	
}
p {
	width: 350px;
	margin: 0 auto;
	padding-top: 30px;
}
.ref {
	width: 330px;
	margin: 0 auto;
	padding-left: 20px;
	font-style: italic;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.verse {
	font-size:1.25rem;
	font-weight:bold;
}
footer {
	height: 50px;
}
